{
	{% from "shared/macros.njk" import lipc_start_app with context %}
	"comment001": "{{friendlyName}}",
	"comment002": "{{version}}",
	"comment003": "by {{author}}",
	"items": [
		{
			"name": "{{friendlyName}}",
			"priority": 2,
			"items": [
				{
					"name": "Run {{friendlyName}} v{{version}}",
					"priority": 1,
					{% if start_script %}
					"action": "{{start_script}}"
					{% else %}
					"action": "{{ lipc_start_app() }}"
					{% endif %}
				}
				{% if unregisterScript %}
				,
				{
					"name": "Unregister {{friendlyName}} v{{version}}",
					"priority": 1,
					"action": "{{unregisterScript}}"
				}

				{% endif %}
			]
		}
	]
}