# Written by Silver18
# more info at: http://www.mobileread.com/forums/showpost.php?p=2121570&postcount=1
# Upstart script to run the eventlauncher script for Komic

start on started lab126_gui
stop on stopping lab126_gui

script
    [ -f /mnt/us/extensions/{{shortName}}/bin/resource/Scripts/eventlauncher.sh ] && exec /mnt/us/extensions/{{shortName}}/bin/resource/Scripts/eventlauncher.sh
end script