@import '../../../node_modules/purecss/build/base.css';
@import '../../../node_modules/purecss/build/grids.css';

@import '../../../node_modules/purecss/build/buttons.css';
@import '../../../node_modules/purecss/build/menus.css';

$bordersize: 0.1em;
body {
    box-sizing: border-box;
}
.main {
    padding: 1em;
    width: 100%;
}

.pure-menu-link {
    margin-top: $bordersize * 2;
    margin-bottom: $bordersize * 2;
}

.pure-menu-selected {
    border: solid;
    border-radius: $bordersize * 4;
    border-width: $bordersize;
}
