@import '../../../node_modules/purecss/build/base.css';
@import '../../../node_modules/purecss/build/grids.css';

@import '../../../node_modules/purecss/build/buttons.css';
@import '../../../node_modules/purecss/build/menus.css';

.main {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}