#!/bin/bash
{#
Copyright (c) 2021 Ryan Pavlik <ryan.pavlik@gmail.com>
SPDX-License-Identifier: MIT
#}
{% from "shared/macros.njk" import installdir with context %}
{% block installdir_var %}
INSTALLDIR="{{installdir()}}"
{% endblock %}

{% block logvar %}
LOG="/mnt/us/{{shortName}}_log.txt"
{% endblock %}


{% block body %}
{% endblock %}
