{#
Copyright (c) 2021 Ryan Pavlik <ryan.pavlik@gmail.com>
SPDX-License-Identifier: MIT
#}

{% macro sqlite_appreg() -%}
sqlite3 /var/local/appreg.db
{%- endmacro %}

{% macro sqlite_appreg_sql(sql) -%}
{{ sqlite_appreg() }} "{{sql | escapeDoubleQuotes}}"
{%- endmacro %}

{% macro installdir(app) -%}
/mnt/us/extensions/{{app | default(shortName)}}
{%- endmacro %}

{% macro appreg_sql_register_app(appId) -%}
INSERT OR IGNORE INTO handlerIds VALUES ('{{ appId | default(qualifiedName)}}')
{%- endmacro %}

{% macro appreg_sql_insert_or_replace_properties(appId, name, value) -%}
INSERT OR REPLACE INTO properties VALUES ('{{appId | default(qualifiedName)}}', '{{name}}', '{{value | escapeSingleQuotes}}')
{%- endmacro %}


{%- macro appreg_sql_register_command(appId, appCommand) %}
{{ appreg_sql_insert_or_replace_properties(appId=appId, name='command', value=appCommand)}}
{%- endmacro %}

{%- macro appreg_sql_set_unload_policy(value) %}
{{ appreg_sql_insert_or_replace_properties(appId=qualifiedName, name='unloadPolicy', value=(value | default('unloadOnPause')))}}
{%- endmacro %}

{% macro mesquite_launch_command(appId = undefined, dir = undefined, app = undefined) -%}
/usr/bin/mesquite -l {{appId | default(qualifiedName)}} -c {{dir | default(installdir(app) + '/bin')}}
{%- endmacro %}

{% macro lipc_start_app(appId) -%}
lipc-set-prop com.lab126.appmgrd start app://{{appId | default(qualifiedName)}}
{%- endmacro %}
