{% extends "shared/base.ffs.njk" %}
{#
Copyright (c) 2012 Huang Xin <chrox.huang@gmail.com>
Copyright (c) 2012 Patric Mueller <bhaak@gmx.net>
Copyright (c) 2021 Ryan Pavlik <ryan.pavlik@gmail.com>
SPDX-License-Identifier: MIT

Based in part on https://github.com/koreader/kpvbooklet/blob/master/install.ffs
Made a template and extended by Ryan Pavlik (rpavlik)
#}
{% block body %}
{% super() %}
OTA=com.lab126.blanket.ota

progress()
{
	lipc-send-event $OTA otaSplashProgress -i $1
	local x=48
	local y=11
	eips 0 $y "                                                ";
	eips $((($x - $(expr length "$2")) / 2)) $y "$2"
	sleep 3
}

fail()
{
	lipc-send-event $OTA otaSplashError -s "${1}"
	sleep 10
	exit 1;
}

{% endblock %}
